@use "vars";

:root {
  --codemirror-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.cm-editor, .cm-line {
  font-family: var(--codemirror-font)
}

.ͼ1 .cm-scroller {
  font-family: var(--codemirror-font);
}
